<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuQhjOc6MHyVu9x-C28BfE-Z8_F4eHBMY</string>
	<key>GCM_SENDER_ID</key>
	<string>217370648053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dastin.flutix</string>
	<key>PROJECT_ID</key>
	<string>flutix-98e7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutix-98e7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217370648053:ios:581be72214ceac509594bc</string>
</dict>
</plist>